<div class="container-fluid">
    <form [formGroup]="itemForm">
      <div class="form-group">
        <label for="Itemname">Название</label>
        <input
          type="text"
          class="form-control"
          id="Itemname"
          placeholder="Название"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="ItemArtik">Артикул</label>
        <input
          type="text"
          class="form-control"
          id="ItemArtik"
          placeholder="Артикул"
          formControlName="artikul"
        />
      </div>
      <div class="form-group">
        <label for="ItemPrice">Цена, р</label>
        <input
          type="number"
          class="form-control"
          id="ItemPrice"
          placeholder="Цена"
          formControlName="price"
        />
        <div *ngIf="(itemForm.get('price')!.touched && itemForm.get('price')!.invalid)">
            <small class="text-danger">Введите корректую цену</small>
          </div>
      </div>
      <div class="form-group">
        <label for="ItemProizv">Производитель</label>
        <input
          type="text"
          class="form-control"
          id="ItemProizv"
          placeholder="Производитель"
          formControlName="Proizv"
        />
      </div>
      
        <div class="form-group" >
            <label for="type">Категория</label>
            <select class="custom-select" id="ItemCategory"  formControlName="category">
              <option value = "Мебель" >Мебель</option>
              <option value= "Техника" >Техника</option>
              <option value = "Книги">Книги</option>
              <option value = "Телефоны">Телефоны</option>
            </select>
          
          </div>
      
      <div class="form-group">
        <label for="ItemWeight">Вес, кг</label>
        <input
          type="text"
          class="form-control"
          id="ItemWeight"
          placeholder="Вес"
          formControlName="weight"
        />
        <div *ngIf="(itemForm.get('weight')?.touched && itemForm.get('weight')?.invalid)">
            <small class="text-danger">Введите корректный вес</small>
          </div>
      </div>
      <div class="form-group">
        <label for="ItemKol">Количество на складе</label>
        <input
          type="number"
          class="form-control"
          id="ItemKol"
          placeholder="Количество"
          formControlName="number"
        />

        <div *ngIf="(itemForm.get('number')?.touched && itemForm.get('number')?.invalid)">
            <small class="text-danger">Введите корректное количество</small>
          </div>
      </div>
      <div class="form-gropup">
   
        <button class="btn btn-primary mr-3"  [routerLink]="'/items'">
            Вернуться
        </button>

        <button class="btn btn-success mr-3" [disabled]="itemForm.invalid" (click)="onSave()">
          Сохранить
        </button>
  
        
        <button class="btn btn-danger"  *ngIf="item.id != null" (click)="onDelete(item)" [routerLink]="'/items'">
          Удалить
        </button>

        
     
    </div>
    </form>
  </div>